
.crumbs-bar {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 30px;
  border: solid white 1px;
  background-color: #f2f2f2;
  color: black;
  margin-bottom: 1em;
}
.crumbs-bar .label {
  margin: 2px;
}
.crumbs-bar .label i {
}
.crumbs-bar .row {
  margin: 5px;
}

