.bundle/
log/*.log
search_results/*
public/studies/*
public/imported/*
public/downloaded/*
public/*.js
public/*.png
public/*.jpeg
public/*.jpg
public/*.ico
public/index.html
public/manifest.json
db/*.sqlite3
vendor/*
tmp/*
config/database.yml
config/database_local.yml
.byebug_history

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
.byebug_history
*.dump
ubuntu-artful-17.10-cloudimg-console.log
.orig
public/assets
node_modules
