.bundle/
log/*.log
search_results/*
public/studies/*
public/imported/*
public/downloaded/*
public/*.js
public/*.png
public/*.jpeg
public/*.jpg
public/*.ico
public/index.html
public/manifest.json
db/*.sqlite3
vendor/*
tmp/*
config/database.yml
config/database_local.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
*.dump
ubuntu-artful-17.10-cloudimg-console.log 
.orig
public/assets
node_modules 
db/schema.rb
config/environments/development.rb
config/application.rb
compose/nginx/default.conf
compose/bin/search_reindex_full
compose/bin/search_bootstrap
compose/bin/console
compose/bin/build
compose/entrypoint.sh
compose/Dockerfile
compose/docker-compose.yml
compose/.gitignore
bin/search_reindex_full
bin/search_bootstrap
bin/console
bin/build
entrypoint.sh
Dockerfile
docker-compose.yml
.DS_Store
front/package-lock.json
front/yarn.lock
nginx/default.conf
