a.panel-title {
  font-size: 1.4em;
}

.field-label {
  font-size: 1.2em;
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  margin-right: 4px;
}

.field-value {
  font-size: 1.2em;
  font-family: 'Avenir', sans-serif;
  color: red;
}

body {
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5;
font-size: 14px;
}

.clinwiki-tabs-menu {
    height: 30px;
    float: left;
    clear: both;
}

.sidebar {
  float: left;
}

.study-data {
  float: right;
}

.clinwiki-tabs-menu li {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.clinwiki-tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.clinwiki-tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.clinwiki-tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    width: 800px;
    padding: 20px;
    display: none;
}

#tab-1 {
 display: block;
}

