.clinwiki-header {
  font-size: 90px;
  padding: 5rem 2rem;
  color: #008aa1;
}
header {
  opacity: 1;
  padding: 10px 0px;
  width: 100%;

  img.logo {
    max-width: 400px;
  }

  nav {
    text-align: center;
  }

}
