.clinwiki-header {
  font-size: 50px;
  color: #008aa1;
}
header {
  opacity: 1;
  padding: 10px 0px;
  width: 100%;

  img.logo {
    max-width: 400px;
  }

  nav {
    text-align: center;
  }

}

#loggedin-col {
  padding-right: 45px; // beats me!
}
