div(style="font-family:Arial;margin: 10px;padding:10px")
    div(style="width:400px;margin-left:auto;margin-right:auto")
      h1 Password Reset
      h2 We recieved a request to change password
      <p>Follow link below to reset password. 
      <br>
    div(style="width:80%;margin-left:auto;margin-right:auto")    
    if  link 
      p <a href="#{link}"> Reset Password Link </a>
    else
      p Uh-oh, looks like something went wrong 
