<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<div>
  <%= render 'tags/list_tags',  :locals => {:nct_id => params[:id]} %>
  <br>
  <p>
    <%= link_to 'Return to Study List', studies_path, class: "btn btn-default btn-mini" %>
  </p>
</div>

