<h1>Welcome to ClinWiki!</h1>
<h2>This is currently a proof-of-concept for providing public access to data from clinicaltrials.gov.
	This allows the public to annotate, rate/review, and basically enhance information about clinical trials
</h2>
