<table id="descriptiveInfoTable" class='table dataTable data-table table-striped table-condensed table-hover'>
   <tbody>
      <% @study.descriptive_info.each do |info| %>
         <tr>
           <td><%= info[:label] %></td>
           <td><%= info[:value] %></td>
         </tr>
      <% end %>
   </tbody>
</table>

