<div class="container-fluid">
  <div class='table-responsive'>
    <div class='container-fluid'>
      <div class='row'>
        <table id="sortTable" class='table dataTable data-table table-striped table-condensed table-hover'>
          <thead>
            <tr>
              <th>id</th>
              <th>rating</th>
              <th>status</th>
              <th>title</th>
              <th>started</th>
              <th>completed</th>
            </tr>
          </thead>
          <colgroup>
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-4">
            <col class="col-md-1">
            <col class="col-md-1">
          </colgroup>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 text-center">
        <ul class="pagination" id="myPager"></ul>
      </div>
    </div>
  </div>
</div>
