<script>
$(document).ready(function() {
    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
});
</script>

<div>
  <div id="tabs-container">
      <ul class="clinwiki-tabs-menu tabs-menu">
          <li class='current'><a href="#tab-1">Descriptive Info</a></li>
          <li><a href="#tab-2">Admin Info</a></li>
          <li><a href="#tab-3">Recruitment_info</a></li>
          <li><a href="#tab-4">Tracking Info</a></li>
      </ul>
      <div class="tab">
          <div id="tab-1" class="tab-content">
             <%= render 'studies/descriptive_info' %>
          </div>
          <div id="tab-2" class="tab-content">
             <%= render 'studies/administrative_info' %>
          </div>
          <div id="tab-3" class="tab-content">
             <%= render 'studies/recruitment_info' %>
          </div>
          <div id="tab-4" class="tab-content">
             <%= render 'studies/tracking_info' %>
          </div>
      </div>
  </div>
</div>
