<script>
    $(document).ready(function() {
        $(".star-rating").raty({
           path: '/assets/',
           readOnly: true,
           score: function() {
             return $(this).attr('data-score');
           }
        });
        $('#sortTable').dataTable({
          "oLanguage": { "sSearch": "Filter results" },
          "lengthMenu": [ 25, 50, 75, 100 ],
          "pageLength": 25,
          "ajax": "<%= studies_search_json_path q: @search %>",
          "processing": true,
          "serverSide": true,
          "columns": [
            {"data": "nct_id", render: function(data, type, row) {
              return "<a href=\"/studies/"+row.nct_id+"\" target=\"_blank\">"+data+"</a>";
            }},
            {"data": "rating", render: function(data, type, row) {
              return "<span style=\"display: none;\">"+data+"</span><div class=\"star-rating\" data-score="+data+"></div>";
            }},
            {"data": "status"},
            {"data": "title", render: function(data, type, row) {
              return "<a href=\"/studies/"+row.nct_id+"\" target=\"_blank\">"+data+"</a>";
            }},
            {"data": "started"},
            {"data": "completed"}
          ]
        });
    });
</script>
<div class="container-fluid">
  <%= form_tag studies_path, method: :get, class: "form-inline navbar-form" do %>

       <% if user_signed_in? %>
          <div class='col-xs-offset-2 navbar navbar-right'>
            <%= text_field_tag :q, params[:search], class: "form-control", value: @search %>
            <%= submit_tag "Retrieve Studies", name: nil, class: "btn btn-default search-button" %>
          </div>
       <% end %>

  <% end %>
</div>

<div class="container-fluid">

  <div class='table-responsive'>
    <div class='container-fluid'>
      <div class='row'>
        <table id="sortTable" class='table dataTable data-table table-striped table-condensed table-hover'>
          <thead>
            <tr>
              <th>id</th>
              <th>rating</th>
              <th>status</th>
              <th>title</th>
              <th>started</th>
              <th>completed</th>
            </tr>
          </thead>
          <colgroup>
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-4">
            <col class="col-md-1">
            <col class="col-md-1">
          </colgroup>
          <tbody>

          </tbody>
        </table>
      </div>
      <div class="col-md-12 text-center">
        <ul class="pagination" id="myPager"></ul>
      </div>
    </div>
  </div>
</div>
