<div class="container-fluid">
  <h1>Update Tag</h1>

  <div class="col-md-3 bs-docs-sidebar">
    <%= render 'layouts/study_sidebar' %>
    <%= link_to 'Back', tags_path(:nct_id=>@study.nct_id), class: "btn btn-primary" %>
  </div>
  <div class="col-md-9 bs-docs-sidebar">
    <%= render 'form' %>
  </div>
</div>
