@charset "utf-8"

@import "bootstrap";
@import "normalize-rails";
@import "dataTables/jquery.dataTables";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "includes/*";
@import "base/base";
@import "pages/*";

