<div class="container-fluid">

  <%= render 'layouts/study_star_rating' %>
  <div class="col-md-3 bs-docs-sidebar">
   <%= render 'layouts/study_sidebar' %>
   <%= link_to 'Back', reviews_path(:nct_id=>params['nct_id']), class: "btn btn-primary" %>
  </div>
  <div class="col-md-9 bs-docs-sidebar">
    <%= render 'form' %>
  </div>
</div>
